.layui-fluid {
	padding: 0 !important;
}
.layui-fluid>div{
	height:100vh;
}
#sider .layui-btn-primary{
	background: rgba(67, 150, 71, 0.68) !important;
	color: #fff;
}
#sider .layui-btn-primary:hover{
	border-color:#5bad58!important; 
}
#sider span,#sider i,#sider a{
	color:#fff!important;
}

#sider{
	position: fixed;
	background: url(./../images/carousel/userPanel.gif);
	z-index: 999;
}
#sider #sider-container {
	height:100%;
	overflow: hidden;
}
#sider #logoPic{
	width: 100%;
	text-align: center;
}
#sider #logoPic img{
	width:80%;
}

/* 用户信息 */
#userInfo-Wrap{
	height: 80%;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center
}
/*头像*/
#upload{
	width:200px;
	height:160px;
    margin: auto;
}
#headPic{
	width: 126px;
	height:126px;
	border-radius: 100%;
}
#headPic:hover{
	cursor: pointer;
}
#userInfo-Detail{
	width:100%;
	height:300px;
}
#userInfo-Detail ul{
	height: 100%;
	line-height: 14px;
	color: #fff;
	font-size: 15px;
	width: 100%;
	margin-top: 26px;
	text-align: center;
}
#userInfo-Detail ul li{
	display: block;
	height:53px;
	line-height: 38px;
}
#userInfo-Detail li button{
	width: 236px;
}
#userInfo-Detail ul i{
	color:#000;
}
#userInfo-Wrap .layui-btn-group{
	margin-top: 44px;
}





#main-container{
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
#main-container #right-container{
	position: absolute;
	top:0;
	right: 0;
	padding:20px 56px;
	height: 100vh;
	z-index: 999;
	background: #fff;
}
/* 导航 */
#main-container nav{
	text-align: right;
	height:66px;
	line-height: 66px;
}
#main-container nav a{font-size: 18px; padding-right: 28px;  }

/* 表单 */
#main-container #right-container form{
	margin-top: 66px;
    padding-left: 50%;
    margin-left: -160px;
}
#main-container #right-container .layui-form-item{
	margin-bottom: 21px!important;
}
#main-container #right-container .layui-form-item .layui-input-inline{
	width:210px !important;
}

#main-container #right-container #uploadBtn{
	margin-left: 36px;
}
#right-container .layui-form-item .layui-input-block{
	margin-left: 48px!important;
	margin-top: 25px;
}
/* 用户信息 */
#right-container form .layui-form-label{
	height: 44px; line-height: 26px;transition: all .3s;
}
#right-container form input{
	height: 44px;
}

#right-container form .layui-form-item:hover .layui-form-label {
	border: 1px solid #9edca1 !important;
}
#right-container form .layui-form-item:hover .layui-input {
	border-top: 1px solid #9edca1 !important;
	border-bottom: 1px solid #9edca1 !important;
	border-right: 1px solid #9edca1 !important;
}
#right-container form .layui-form-item:focus .layui-form-label {
	border: 1px solid #000 !important;
}
/* 错误显示 */
#right-container .layui-form-danger{
	background: #e0eceb;
}
#right-container .layui-form-danger:focus{
	border-color: #8cc38e !important;
}
/* 底部版权 */
.copyright{
	width: 100%;
	height:30px;
	position: absolute;
	color:#ccc;
	bottom: 0px;
	left: 0;
	text-align: center;
}