/*globe*/
body{background:#f2f2f2;}
.pull-right{float: right !important;}
.pull-left{float:left !important;}
.show{display: inline-block!important;}
.hide{display: none!important;}

/*nav*/
.layui-header{height: 59px; border-bottom: 1px solid #404553;  background-color: #393D49;}
.logo img{height:55px;}
#navlist-right{float:right;}
.layui-nav .layui-nav-item a{padding:0 20px !important;}
#nav-bar #userCenter{display: none;}
#nav-bar #userLogin>a{cursor: pointer;}

/*carousel*/
.layui-carousel img{height:100%; width:100%;}

/* ws-notify */
#ws-notify-wrap{background:hsla(225, 12%, 25%, 0.87);color: #fff;border-radius: 2px;height: 24px; padding:3px 0px; position:relative; overflow:hidden;}
#ws-notify-wrap .layui-btn{position:absolute; top:-4px; left:0; z-index:4;opacity:1 !important;}
#ws-notify{ margin:0 auto; z-index:3;}

/*web instruction*/
#web-instruction{margin:20px auto; text-align:center;border-radius: 5px; padding: 10px 0; background: #fff;}
#web-instruction .iconfont{font-size:80px;}
#web-instruction figure{
	-webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
	-moz-margin-before: 0em !important;
    -moz-margin-after: 0em !important;
    -moz-margin-start: 0px !important;
    -moz-margin-end: 0px !important;
	}
#web-instruction figure figcaption{font-size:18px;}
#web-instruction figure p{font-size:14px; line-height:20px; color:rgba(109, 101, 101, 0.92);}
#web-instruction figure:nth-child(1) i{color:#ffb800;}
#web-instruction a:nth-child(2) i{color:#11c3b8;}
#web-instruction a:nth-child(3) i{color:#01aaed;}
#web-instruction .tool-bar-item{width: 70%;
    margin: 6px auto;
    padding: 2px 0px;
    box-sizing: border-box;
    text-overflow: clip;}

/* column globe */
.column-header{border-left: 5px solid #828988 !important;
background-color: #eceded !important;}
.column-card{margin:20px auto 30px auto;}
.column-card h2{font-size:23px;}
.column-card h2+a{float:right;color:#009688; line-height:23px; margin-top:-20px;}
.column-card>h2,a,hr{padding:0 !important;}
.column-card>hr{margin-bottom:6px;}

.column-card .moudle-card{position:relative; margin:6px auto; width:260px; border-radius:2px; transition:all linear 0.1s;}
.column-card .moudle-card:hover{box-shadow: 1px 1px 5px rgba(0,0,0,.34); width: 319px; z-index: 999; margin-left: 12px;}
.column-card .moudle-card:hover .line{width:34px;}
.column-card .anchor-img{width:100%; border-radius:2px 2px 0px 0px; overflow:hidden;}
.column-card .anchor-con{padding:17px 20px; background:#fff; padding-left: 10px; padding-right: 8px;}
.column-card .name{position:relative; color:#1d1d1d; font-size:16px; line-height:21px; text-align:left; font-weight:400;}
.column-card .title{display: inline-block; width: 82%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px;}
.column-card .name .layui-badge{max-width: 13%;}
.column-card .name .line{bottom:-5px; left:0px; position:absolute; width:0px; height:1px; background: #1e9fff; transition: all 0.3s linear;}
.column-card .info{margin-top:25px; font-size:12px; min-height:36px; color:#a7a7a7; line-height:18px; text-align:left;
overflow:hidden; 
text-overflow:ellipsis;
display:-webkit-box; 
-webkit-box-orient:vertical;
-webkit-line-clamp:2; }

.column-catalog {height: :100%;} 
.column-catalog .card-wrap:first-child{color:white; background: #0196ed;margin-top: 5px;padding: 61px; text-align: center; margin-bottom:5px;}
.column-catalog .card-wrap:first-child i{font-size: 5em;} 
.column-catalog .card-wrap:first-child .card-title{font-size:
20px;} 
.column-catalog .card-wrap:last-child{color:white; background:#4d5a62;margin-top: 5px;padding: 13px; text-align: center;display: block;height: 48px;line-height: 48px;font-size: 16px; transition: all 0.2s ease-out; }
.column-catalog .card-wrap:last-child:hover{background: #597c92;}


/* new-result */ 
.content-wrap{padding: 10px 0;}

/*result-re*/
#result-re{margin:30px auto;}
#result-re h2{font-size:23px;}
#result-re h2+a{float:right;color:#009688; line-height:23px; margin-top:-20px;}
#result-re>h2,a,hr{padding:0 !important;}
#result-re .figurefx{height:210px; margin-top:10px !important; overflow:hidden; position:relative;		     	
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	-moz-margin-before: 0em;
    -moz-margin-after: 0em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
	}
#result-re .layui-bg-green{height:2px;}
#result-re .figure-img{width:100%; height:110%; position:absolute; top:0px; transition:0.2s all linear; z-index:1;}
#result-re .figure-img:hover{transform:matrix(1, 0, 0, 1, 0, 0); top:-10px;}
#result-re figcaption{width:100%; height:auto; background:#000; color:#fff; padding: 10px 20px; box-sizing:border-box; text-align:center; z-index:999; position:absolute; bottom:-100px; transition:0.2s all ease-in-out;}
#result-re .figurefx:hover figcaption{bottom:0;}


/* column-demand */
#column-demand .card-wrap:first-child{background: #11c3b8;}
#column-demand .card-wrap:last-child:hover{background: #326d69;}
#column-demand .name .line{background:#009688; }

/* clolumn-news */
#column-news-catalog{ padding: 0 !important;}
#column-news-catalog .layui-tab-title{height:82px;border: none;}
#column-news-catalog .layui-tab-title li{padding:16px 0 0px 0; background: #4d5a62; line-height: 30px;  color: #fff; }
#column-news-catalog .layui-tab-title i{font-size: 28px;}
#column-news-catalog .layui-tab-title .card-title{color:currentColor;}
#column-news-catalog .layui-tab-title li:nth-child(1).layui-this {color: #009688!important;}
#column-news-catalog .layui-tab-title li:nth-child(1).layui-this i{color: currentColor!important;}
#column-news-catalog .layui-tab-title li:nth-child(2).layui-this {color: #1e9fff!important;}
#column-news-catalog .layui-tab-title li:nth-child(2).layui-this i{color: currentColor!important;}
#column-news-catalog .layui-tab-title li:nth-child(3).layui-this {color: #ff9222!important;}
#column-news-catalog .layui-tab-title li:nth-child(3).layui-this i{color: currentColor!important;}

#column-news-catalog .layui-tab-content{background: #fff; padding: 26px;}
#column-news-catalog .layui-tab-content ul{margin:0 0 0 50px; min-height:180px;}
#column-news-catalog .layui-tab-content ul li{list-style-type:disc; width:50%; float:left; line-height:32px; position:relative;}
#column-news-catalog .layui-tab-content ul li .news-title{font-size:15px; margin-right:20px; transition:0.3s all linear; display: inline-block; width: 380px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#column-news-catalog .layui-tab-content ul li .layui-btn{right:40px !important; position:absolute;}
#column-news-catalog .layui-tab-item p{line-height: 2;letter-spacing: 0.1em;}
#column-news-catalog .layui-tab-content a{display: inline-flex;}
#column-news-catalog .layui-tab-title .layui-this:after {
    height: 80px;
    border:none;
    border-bottom: 3px solid currentColor;;
    border-radius: none !important;
    box-sizing: content-box;
    pointer-events: none;
}

#column-news-catalog .layui-tab-title .layui-this i{color:#fff !important;}



/* expert-lib */
#expert-lib .column-header h2{font-size:23px;}
#expert-lib h2 a{
    display: inline-block;
    float: right;
}
#expert-lib h2 a i{
    font-size: 30px;
}
/* #expert-lib .layui-carousel-arrow[lay-type=add]{right:-20px!important;}
#expert-lib .layui-carousel-arrow[lay-type=sub]{left:-20px!important;} */
#expert-lib .layui-carousel:hover .layui-carousel-arrow[lay-type=add]{right: -36px;}
#expert-lib .layui-carousel:hover .layui-carousel-arrow[lay-type=sub]{left: -36px;}




/*list-card*/
.wrap{
  margin:50px auto 60px auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}  
.tile{
  height:210px;
  width:208px;
  background-color:#393d49;
  margin:8px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Microsoft YaHei',sans-serif;
}
.tile img{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text{
  z-index:99;
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h2{
  font-size:18px!important;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.tile p{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 70%;
}
.animate-text{
  opacity:0;
  transition: all 0.4s ease-in-out;
}
.tile:hover{
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img{
  opacity: 0.2;
}
.tile:hover .animate-text{
  transform:translateX(0);
  opacity:1;
}
.tile a{color:#fff!important;}
.tile a:hover{color:#fff!important;}




/*footer*/
#footer{height:280px; background:#393D49; border-top:1px solid #404553; color:rgba(255,255,255,.7);  margin-top:20px;}
#footer-info{margin:0 auto; padding:40px 40px 0 40px;}
#footer-flink-content{text-align:center; padding:40px 40px 0 10px;}
#footer-content{text-align:center; padding-top:5px; margin-top:-10px; width:100%; height:48px; float:left; background:#424758; border-top:2px solid #4d515f;}
#footer-content p{display:block; line-height:23px;}
#footer .nav-item h2{color:#fff; font-size:15px;}
#footer .nav-item a{display:block; line-height:22px; margin-top:6px; box-sizing: border-box;}
#footer .nav-item a:hover{transform:translateX(12px);transition: all .3s linear;}
#footer .footer-qrpic{display:block; text-align:center; line-height:140px;}
#footer .footer-qrpic img{height:120px;}
#footer .footer-icon{border-radius:2px; margin-bottom:30px;}
#footer #footer-flink-content .footer-icon img{height:48px;width:156px; border-radius: 2px;}
#footer a{color:rgba(255,255,255,.7);}










/*diliver*/








